FAT-Forensics==0.1.2
ipython==9.7.0
joblib==1.5.2
matplotlib==3.11.0
numpy==2.4.6
orjson==3.11.9
pandas==3.0.3
pytorch-ignite==0.5.2
PyYAML==6.0.3
river==0.25.0
scikit-learn==1.9.0
scipy==1.17.1
seaborn==0.13.2
torch==2.9.1+cu130
tqdm==4.67.1
